<br />
<div class="row">
  <div class="span3">
    <h4>Localiza tu POOL rápido</h4>
    <p>
      Desde tu BB podrás localizar los pool de salida más cercanos y que vayan a tu destino.
    </p>
  </div>
  <div class="span3">
    <h4>Pago directo</h4>
    <p>
      El importe se descontará de tu bono. Si te falta salda puedes autorizarnos para meter el cargo desde PayPal.
    </p>
  </div>
  <div class="span3">
    <h4>Mejora el mundo</h4>
    <p>
      Compartiendo trayecto no solo ahorras dinero, reduces la contaminación y socializas con gente de todo el mundo.
    </p>
  </div>
</div>
<br />
<div class="row">
  <div class="span3 offset3">
    <%= link_to "Descarga tu app para BlackBerry 10. Es gratis!", "#", :class => "btn btn-success" %>
  </div>
</div>
<br />
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "carpool.png" %></div>
    <div class="item"><%= image_tag "carpool.png" %></div>
    <div class="item"><%= image_tag "carpool.png" %></div>
  </div>

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>